body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}

/*this my name*/
#name {
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #33485e;
	width: 60%;
	min-width: 300px;
	margin:  0 auto;
}

img {
	display: none;
}

#title {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #33485e;
	font-weight: 600;
	text-align: center;
	margin: 20px 0 0 0;
}

.sectionheader {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: white;
	font-weight: 400;
	margin: 20px 0 10px 0;
	width: 70%;
	min-width: 300px;
	}

.jobtitle {
	font-weight: 600;
	font-size:  1.5em;
}

.organization {
	font-weight: 400;
	font-size:  1.25em;
}

.date {
	font-weight: 400;
	font-style: italic;
	font-size:  1em;
	margin-top: 2px;
}

.description {
	font-size: 1em;
	margin: 10px 0px 10px 0px;
}

ul li {
	font-size: 1em;
}

.menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li {
	display: inline;
}

#degrees {
	margin: 5px 0 0 0;
}

#do {
	margin: 5px 0 0 0;
}

#top {
	width:  60%;
	min-width:  300px;
	margin:  0 auto;
	margin-bottom:  30px;
}

#container {
	width: 100%;
	max-width: 1200px;
	margin:  0 auto;
	padding-bottom:  50px;
}






